# Code::Blocks files
libscorepress.depend
libscorepress.layout

# Configure Output
config.status
*.log
include/scorepress/config.hh
doc/Doxyfile
Makefile

# Compiled Object files
build
build/*
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.so.*

# Compiled Static libraries
*.lai
*.la
*.a
