# Code::Blocks files
scorepress-gtk.depend
scorepress-gtk.layout

# Compiled Object files
build
build/*
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.so.*

# Compiled Static libraries
*.lai
*.la
*.a
