# IDE Project files
.cproject
.project
.settings/
libscorepress.*

# Configure Output
autom4te.cache
config.status
*.log
config.hh
doc/Doxyfile
data/scorepress.pc
Makefile

# Compiled Object files
obj
obj/*
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.so.*

# Compiled Static libraries
*.lai
*.la
*.a

# Temporarily unused
lib
lib/*
